@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem; 
  line-height: 2.5rem;
  color: #333;
  margin: 1rem;
}
button
{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem; 
    line-height: 1.5rem;
    color: black;
    background-color: darkgray;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

button:active {
    transform: scale(0.95);
  }
h2
{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem; 
    line-height: 2rem;
    color: #333;
    margin: 0.5rem;
}
p
{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem; 
    line-height: 1.5rem;
    color: #333;
    margin-left: 1rem;
}
div
{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem; 
    line-height: 1.5rem;
    color: black;
    background-color: darkgray;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
}

input
{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem; 
    line-height: 1.5rem;
    color: black;
    background-color: darkgray;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    margin-bottom: 2.5rem;  
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }